.navbar {
    margin-top: 15px;
}

.btn-toolbar {
    margin-bottom: 15px;
}

.breadcrumb {
    margin-bottom: 15px;
}

.panel-project {
    height: 450px;
    border-radius: 6px;
}

.panel-project:hover {
    box-shadow: 0px 0px 20px #CCCCCC
}
.fallback-image {
    width: auto;
    height: 240px;
    background-image: url('../images/no-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.project-image {
    width: auto;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.project-memebers {
    float: right;
}

.panel-body h4 {
    padding-top: 15px;
    max-height: 55px;
    word-wrap: break-word;
    overflow: hidden;
}

.project-description {
    max-height: 105px;
    word-wrap: break-word;
    overflow: hidden;
}
.project-link {
    color: inherit;
    text-decoration: none !important;
}
.project-link:hover {
    color: inherit;
    text-decoration: none !important;
}