/*
======================================
Project list
======================================
*/

.r-image-restraint {
    max-height: 500px;
    max-width: 600px;
    border: 2px solid #3c3c3c;
}

.r-panel-outside {
    width: 100%;
    hieght: 70%;
    background: white;
    border: .5px solid lightgrey;
}

.r-panel-inside {
    width: 90%;
    hieght: 90%;
    background: white;
    border: .5px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
}

.r-grid {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.r-inline
{
    display: inline-block;
}

.btn-xxs
{
    height: 17px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;

}

.r-project img
{
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    width: auto; /* you can use % */
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.r-small hr {
    padding: 0;
    margin: 10px 0 0 0;
}

.r-members {
    font-size: 13px;
    color: #5c5c5c;
    padding: 2px 4px 2px 4px;
    background-color: #ededed;
    letter-spacing: -.5px;
    position: absolute;
    right: 30px;
}

.r-col-1-3
{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}

/*
======================================
Project Member Page
======================================
*/

.r-hide-links a
{
    text-decoration: none;
    color: black;
}

/*
======================================
Project Members Page Banner
======================================
*/
.r-banner
{
    margin-bottom: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.r-banner img
{
    width: 100%;
    min-height: 250px;
}

.r-banner button
{
    position: absolute;
    bottom: 20px;
    right: 40px;
}

/*
======================================
Project Members Page Pending Users
======================================
*/

.r-pending-users
{
    margin-left: 20px;
}

/*
======================================
Project Members Page Left Column
======================================
*/

.r-description
{
    padding: 10px 0 15px 0;
    margin-bottom: 20px;
    height: 225px;
}

.r-member-stats
{
    padding: 10px 0 15px 0;
    height: 150px;
}

.r-admin-list
{
    padding: 10px 0 15px 0;
    min-height: 150px;
}

.r-admin-list-creator p
{
    display: inline-block;
}

.r-username
{
    padding: 0 15px 0 15px;
    font-weight: 400;
    font-size: 15px;
}

.r-description h4
{
    display: inline-block;
    padding-right: 10px;
}

.r-member-stats h4, .r-description h4, .r-admin-list h4, .r-pending-users h4
{
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 500;
}

.r-description p
{
    padding: 0 15px 0 15px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.r-member-stats p
{
    margin: 0 0 20px 20px;
    font-weight: 400;
}

/*
======================================
Project Members Page Tab Column
======================================
*/

.r-tab-body
{
    height: 522px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    overflow: hidden;
}

/*
======================================
Project Members Page Custom Tab
======================================
*/

.r-tab-inside-body
{
    padding-left: 40px;
    padding-right: 40px;
    max-height: 522px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

/*
======================================
Project Members Page File Tab
======================================
*/

.r-files-nav
{
    padding-top: 20px;
}

/*
======================================
Project Members Page Edit
======================================
*/

.r-edit-container
{
    text-align: center;
}

.r-edit-container h1
{
    display: inline-block;
    padding-right: 10px;
}

.r-edit-container button
{
    margin-bottom: 15px;
    max-height: 30px;
    overflow: hidden;
}

/*
======================================
Project Creation Page
======================================
*/

.r-legend-sub
{
    font-size: 20px;
    margin: 0 0 10px 25px;
}

.r-legend-sub small
{
    font-size: 12px;
}

.r-create-buttons
{
    margin-left: 17%;
}

/*
======================================
Project Members Modal
======================================
*/

.r-modal-window
{
    padding: 30px;
    background-color: #fafafa;
}

.r-modal-window legend
{
    max-width: 90%;
}

.r-modal-input
{
    max-width: 93%;
    padding: 10px 0 0 25px;
}

.r-modal-input textarea
{
    margin-top: 20px;
}

.r-modal-buttons
{
    padding: 20px 0 0 25px;
}

/*
======================================
Extra
======================================
*/

.r-bound
{
    
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}